body
{
  color: #4A4A4A;
  background-color: #F5F5F5;
}

h1
{
  color: #FF69B4;
}

h2
{
  color: #FF69B4;
}

ul
{
  background-color: #98FF98;
}

p
{
  background-color: #E6E6FA;
}